<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
			<httpErrors errorMode="Detailed" />
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <handlers>
            <remove name="PHP" />
            <add name="PHP-CGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="Unspecified" />
            <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
	<system.web>
		<customErrors mode="off" />
		<compilation debug="true" />
	</system.web>
</configuration>
